@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


.body {
    height: 2550px;
    background-color: black;
} 
.inter-font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.title{
    font-style: italic;
    font-weight: 800;
    font-size: 2rem;
    color: rgb(230, 83, 60);
}
.text-italic{
    font-family: 'Miama', sans-serif;
    font-style: italic;
    font-weight: lighter;
    font-size: 5rem;
    color: rgba(255, 255, 255, 1);
    line-height: 60%;
}

.navbar{
    display: flex;
    justify-content: space-between;
    width: 73%;
    margin: 0 auto;
    align-items: center;
}
.nav-links{
    padding: 1px;
    display: flex;
    /* background-color: blue; */
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 42%;
    border-radius: 39px;
    gap: 15px;
    align-items: center;
}
.nav-item{
    list-style: none;
    /* background-color: chartreuse; */
    margin-right: 30px;
}
.nav-link{
    text-decoration: none; 
    font-weight: 500;
    /* background-color: darkgreen; */
}
.active{
    background-color: rgba(230, 83, 60, 1);
    padding: 08px 20px 08px 20px;
    border-radius: 39px;
   }

.text-gray {
    color: rgb(255, 255, 255, 1);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    line-height: 120%;
}

/* banner related styles */
.banner{
    display: flex;
    
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
    color: rgba(255, 255, 255, 1);
}
.banner-description{
    color: rgba(255, 255, 255, 0.5);
}
.banner-content{
    width: 33%;
    margin: 0 auto;
    text-align: left;
  
    margin-left: 180px;
}
.banner-image{
    height: auto;
    max-width: 60%;
    margin: 0 auto;

}
.btn-primary{
    padding: 14px 50px;
}
.color{
    background-color: rgba(230, 83, 60, 1);
    border-radius: 40px;
    color: rgba(255, 255, 255, 1);
    border: none;
    }
    .no-color{
        border-radius: 40px;
        color: rgba(255, 255, 255, 1);
        border-color: white;
        background-color: black;
    }
    .banner-image-container{
        position: relative;
        width: 33%;
        margin: 0 auto;
        margin-right: 120px;
    }
    
    .card-box{
        position: absolute;
        background-color: rgba(255, 255, 255, 0.1);
        padding: 10px 20px;
        border-radius: 10px;
        text-align: center;  
    }
    .card-1{ 
        top: 100px;
        right:100px;
        width: 100px;
        height: 60px;
        margin-right: 20px;
        align-content: center;
    }
    .card-2{
        display: flex;
           width: 130px;
           height: 60px;
           bottom: 40px;  
           align-content: flex-start;
           justify-content: space-around
           margin-right: flex-start;
           margin-left: 10px;   
       }
       .card-box card-1{
        margin-left;: 50px
       }
       .ctd{
        display-flex;   
    }
    .card-box h3{
        margin: 0;
        font-size: 24px;
        color: rgb(255, 255, 255);
        text-align: left;
    }
    .card-box p{
        margin: 0;
        font-size: 10px;
        color: rgba(255, 255, 255, 0.65);
    }
    .icon{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: rgb(230, 83, 60);
        margin-top: 10px;
        margin-right: 10px;  
    }


    @media screen and (max-width: 576px) {

        .navbar{
            width: 393px;
            height: 43px;
            margin-top: 52px;
            margin-left: 17px;
            
            margin-bottom: 10px;
        }
        .title{
            font-size: 2rem;
        }
        .nav-links{
            display: none;
        }
       
         .card-1{
            
            margin-bottom: 100px;
        }
        .card-2{
            margin-bottom: 150px;
        }
      .header{
        width: 393px;
        height: 1024px;
        margin: 0 auto;
        overflow: hidden;
      }
      .banner{
        flex-direction: column;
        margin: 0 auto;
      }
      .banner-content{
        width: 353px;
        height: 353px;
        margin: 0 auto;
        padding: 20px;
        y
        margin-bottom: 20px;
      }
      .btn-container{
        display: flex;
        width: 352px;
        height: 54px;
        gap: 14px;
      }
      .color{
        width: 169px;
        height: 54px;
        padding: 16px 40px 16px 40px;
        border-radius: 42px;
        background: rgb(230, 83, 60);
      }
      .no-color{
        width: 169px;
        height: 54px;
        box-sizing: border-box;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 42px;
      }
      .banner-title{
        width: 280px;
        height: 129px;
        font-size: 2rem;
        margin-bottom: 28px;
      }
      .banner-description{
        font-size: 1rem;
        margin-bottom: 30px;
        line-height: 20px;
      }

      .banner-image-container{
        width: 383px;
        height: 588px;
        margin: 0 auto;
        
      }

      .banner-image{
        width: 353px;
        height: 588px;
        margin: 0 auto;
      }
      .club{
        display: none;
      }
    }

    /* 2nd part */
main > section{
    /* margin-top: 100px; */
    /* margin-bottom: 100px; */
   
}
.habit{
   margin: 0 auto;
   /* padding: 20px 0; */
   text-align: center;
   width: 74%;
   height: 452px;
   }

   .habit-title{
    font-size: 2rem;
    margin-bottom: 12px;
    color: rgba(255, 255, 255, 1);
    }
    .grid-item-description{
        font-size: 12px;
        color: rgba(255, 255, 255, 0.5);
        margin-bottom: 50px;
    }
    
.habit-grid-container{
    display: flex;
    justify-content: center;
    /* justify-content: space-around; */
    /* flex-wrap: wrap; */
    gap: 35px;
}

.grid-item{
width: 20%;
height: 260px;
border-radius: 10px;
}

.grid-image{
    border-radius: 80px;
}
.grid-item-title{
    font-size: 1.50rem;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
}

.grid-item img{
    width: 70%;
    height: auto;
}

.habit-paragraph{
 max-width: 80%;
 text-align: center;
 margin: 0 auto;
 font-size: .9rem;
 color: rgba(255, 255, 255, 0.5);
 margin-bottom: 55px;
}


@media screen and (max-width: 576px){
    .habit{
        width: 338px;
        height: 1398px;
    }
    .habit-title-paragraph{
        width: 318px;
        height: 124px;
        
        margin: 0 auto;
        margin-bottom: 50px;
       
    }
    .habit-title{
        margin-bottom: 14px;
        font-size: 1.7rem;
    }
    .habit-paragraph{
        font-size: 14px;
        width: 316px;
        height: 72px;
        line-height: 18px;
        font-weight: 400;
        
    }
    .habit-grid-container{
        flex-direction: column;
        align-items: center;
        width: 338px;
        height: 1216px;
    }
    .grid-item{
        width: 231px;
        height: 274px;
    }
    .grid-item-title{
        font-size: 1.2rem;
    }
    .grid-item-description{
        font-size: 14px;
    }
}

/* 3rd section */

.run-image{
    max-width: 60%;
    
    margin-left: 25%;
    border-radius: 20px;
    
}
.run-image-container{
   
    max-width: 60%;
    
}
.run-extra {
    text-align: left;
    width: 400px;
    height: 240px;
    margin-left: 50px;
   
    
}
.run-extra h1 {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    margin-bottom: 12px;
    line-height: 120%;
}
.run-extra p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    margin-bottom: 20px;
    line-height: 20px;
}

.run-extra-mile{
    display: flex;
    background-color: rgb(75, 59, 59);
    max-width: 1000px;
    height: 300px;
    margin: 0 auto;
    border-radius: 20px;
    margin-bottom: 80px;
    justify-content: space-between;
    align-items: center;
}
.btn-join{
    background-color: rgba(230, 83, 60, 1);
    border-radius: 40px;
    color: rgba(255, 255, 255, 1);
    border: none;
    padding: 12px 50px 12px 50px;
}

@media screen and (max-width:576px) {
    .run-extra-mile {
     width: 353px;
     height: 531px;
     margin: 0 auto;
     flex-direction: column;
     margin-top: 66px;
     
    }
    .run-extra{
     width: 287px;
     height: 264px;
     
     margin: 0 auto;
    }
    .run-extra-title{
     font-size: 32px;
     margin-bottom: 14px;
    }
    .run-extra-description{
     font-size: 15px;
     line-height: 24px;
     margin-bottom: 24px;
    }
    .btn-join{
     width: 287px;
     height: 54px;
     padding: 16px 40px 16px 40px;
     font-size: 18px;
     font-weight: 600;
     line-height: 22px;
     margin-bottom: 31px;
    }
    .run-image-container{
     max-width: none;
     margin: 0 auto;
    
     align-items: center;
     margin-bottom: 50px;
    }
    .run-image{
     max-width: none;
     width: 287px;
     height: 170px;
     margin: 0 auto;
     
    }
     .run-extra{
         
     }
 }
 
 /* bmi section */
  

 .bmi-form{

 }
 
 
 .bmi-cal{
     display: flex;
     justify-content: center;
     gap: 40px;
    background-color: rgb(34, 34, 34);
    width: 100%;
    height: 415px;
 }
 
 .calculate-container{
    
     width: 560px;
     height: 370px;
    
 }

 .table-title{
     width: 443px;
     height: 34px;
     font-size: 1.5rem;
     color: rgb(255, 255, 255);
     margin-bottom: 50px;
 }
 .bmi-title-des{
     width: 650px;
     height: 110px;
     margin: 0 auto;
     margin-bottom: 80px;
    
 }
 .bmi-title{
     margin: 0 auto;
     font-size: 2rem;
     color: rgb(255, 255, 255);
     margin-bottom: 14px;
 }
 .bmi-des{
     font-size: 14px;
     line-height:24px;
     color: rgba(255, 255, 255, 0.5);
 }
 .table, th, td {
     border: 1px solid rgba(255, 255, 255, 0.1);
     border-collapse: collapse;
 }
 .table{
     width: 300px;
     height: 210px;
 }
 th, td{
     text-align: left;
     padding: 16px;
 }
 th{
     font-size: 1rem;
     color: rgb(255, 255, 255);
 }
 td{
     font-size: .8rem;
     color: rgba(255, 255, 255, 0.5);
 }
 .calculate-bmi{
     width: 560px;
     height: 90px;
     margin-bottom: 20px;
 }
 .form-input{
     width: 560px;
     height: 165px;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     margin-bottom: 26px;
 }
 .form-btn{
     width: 215px;
     height: 45px;
     border-radius: 40px;
     background-color: rgb(230, 83, 60);
     padding: 16px 40px 16px 40px;
     border: none;
     font-size: 1rem;
     color: rgb(255, 255, 255);
 }
 .calculate-title{
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  margin-bottom: 15px;
 }
 .calculate-description{
     font-size: 14px;
     color: rgba(255, 255, 255, 0.5);
     line-height: 20px;
 }
 .height{
     width: 265px;
     height: 45px;
     box-sizing: content-box;
     border-radius: 8px;
     background: rgba(255, 255, 255, 0.1);
     border: none;
     color: rgba(255, 255, 255, 0.6);
     margin-bottom: 7px;
 }
 .weight{
     width: 265px;
     height: 45px;
     box-sizing: content-box;
     border-radius: 8px;
     background: rgba(255, 255, 255, 0.1);
     border: none;
     color: rgba(255, 255, 255, 0.6);
     margin-bottom: 7px;
 }
 .age{
     width: 265px;
     height: 45px;
     box-sizing: content-box;
     border-radius: 8px;
     background: rgba(255, 255, 255, 0.1);
     border: none;
     color: rgba(255, 255, 255, 0.6);
     margin-bottom: 7px;
 }
 .sex{
     width: 270px;
     height: 46px;
     display: inline-block;
     box-sizing: content-box;
     border-radius: 8px;
     background: rgba(255, 255, 255, 0.1);
     border: none;
     color: rgba(197, 162, 162, 0.6);
     margin-bottom: 7px;
 }
 .saaf{
     width: 560px;
     height: 49px;
     box-sizing: content-box;
     display: inline-block;
     border-radius: 8px;
     background: rgba(255, 255, 255, 0.1);
     border: none;
     color: rgba(197, 162, 162, 0.6);
 }


 @media screen and (max-width: 576px) {
    .bmi-title-des{
        width: 350px;
        height: 124px;
        margin-bottom: 30px;
        margin-top: 20px;
    }
    .bmi-title{
        font-size: 1.7rem;
        color: rgb(255, 255, 255);
       
    }
    .bmi-des{
        font-size: 14px;
        color: rgba(255, 255, 255, 0.5);
        font-weight: 400;
        line-height: 24px;
        
    }
    .calculate-bmi{
        margin-left: 20px;
    }
    .bmi-cal{
        width: 394px;
        height: 772px;
        margin: 0 auto;
        flex-direction: column;
    }
    .table{
        width: 310px;
        height: 216px;
        
    }
    .table-title{
        margin-bottom: 23px;
    }
    .bmi-column{
        width: 310px;
        height: 260px;
        margin-left: 20px;
    }
    .calculate-container{
        width: 354px;
        height: 395px;
        margin: 0 auto;
    }
    .calculate-bmi{
        width: 354px;
        height: 105px;
        
        margin: 0 auto;
        margin-bottom: 34px;
    }
    .form-input{
        width: 353px;
        height: 168px;
        box-sizing: content-box;
        margin-bottom: 20px;
        
    }
    .height{
        width: 167px;
        height: 48px;
        
    }
    .weight{
        width: 167px;
        height: 48px;
     
    }
    .age{
        width: 167px;
        height: 48px;
    }
    .sex{
        width: 171px;
        height: 48px;
        
    }
    .saaf{
        width: 353px;
        height: 48px;
    }
    .calculate-container{
        margin-top: 30px;
       
    }
}

/* 5th section */
.team {
    text-align: center;
    margin: 0 auto;
    max-width:72%;
    overflow: hidden;
    position: relative;
    height: 750px;
    margin-bottom: 100px;
    }
    
    .trainer {
    text-align: center;
    display: flex;
    /* justify-content: center;
    align-content: center; */
    gap: 10px;
    margin-top: 20px;
     overflow: none;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px 20px 30px 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    border-radius: 20px;
    row-gap: 12px;
    column-gap: 20px;
    align-items: center;
    
    }
    
    .trainer-image-container{
        position: relative;
        width: 100%;
        border-radius: 20px;
        align-items: center;
        justify-content: center;
     }
     .trainer-image-container img {
        width: 100%;
        height: 250px;
        border-radius: 20px;
    }
    
    .team-title{
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(255, 255, 255);
        font-size: 2.5rem;
        line-height: 120%;
        margin-bottom: 12px;
    }
    .team-description{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        line-height: 20px;
        color: rgba(255, 255, 255, 0.5);
        margin-bottom: 50px;
    }
    .image-info {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        color: #fff;
        text-align: start;
        padding: 10px;
        border-radius: 0 0 20px 20px;
        padding: 10px;
    }
    .trainer-trainer{
        color: rgba(255, 255, 255, 0.5);
    }

@media screen and (max-width: 576px) {
    .team-title-des{
        width: 309px;
        height: 124px;
    }
    .team-title{
        font-size: 1.5rem;
        margin-right: 25px;
    }
    .team-description{
        font-size: 10px;
        margin-right: 30px;
    }
   .trainer{
    width: 353px;
    height: 1788px;
    padding: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
     display: grid;
     grid-template-columns: repeat(1, 1fr); 
    box-sizing: content-box; 
    margin: 0 auto;
    align-items: center;
   row-gap: 0px;
   column-gap: 0px;
   }
   .trainer-image-container{
    padding: 0;
    width: 250px;
    height: 272px;
    border-radius: 18px;
    margin-left: 17px;
    gap: 0px;
    
   }
   .image-info{
    margin-bottom: 20px;
    
    
   }
   .img-1{
    width: 100%;
    
    margin-top: 20px;
   }
   .img-2{
    width: 100%;
    
   }
   .img-3{
    width: 100%;
    
   }
   .img-4{
    width: 100%;
   }
   .img-5{
    width: 100%;
   }
   .img-6{
    width: 100%;
    
   }
   .body{
    width: 393px;
    height: 4963px;
   }
   .team{
    height: 1950px;
   
    margin-top: 36px;
    
   }
}


/* footer part */
.footer{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 40px 20px;
}
.footer-container {
display: flex;
justify-content: space-between;
align-items: flex-start;
flex-wrap: wrap;
}
.footer-column{
    max-width: 33%;
    margin-left: 120px;
    line-height: 120%;
    border-radius: 10px;
}
.column-text{
    color: rgb(230, 83, 60);
    font-size: 3.1rem;
    font-style: italic;
    font-weight: 800;
    margin-bottom: 40px;

}
.column-description{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    line-height: 22px;
}
.footer-links{
    margin-bottom: 60px;
    margin-right: 120px;
}
.footer-links h3{
  
    margin-bottom: 20px;
}

.footer-links ul{
    list-style: none;
    padding: 0;
}
.footer-links ul li{
    text-decoration: none;
    margin-bottom: 15px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
}
.footer-links h3{
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    line-height: 120%;
}

.copywright{
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin: 0 auto;
    font-size: 15px;
}

.hr{
    width: 80%;
    color: rgb(129, 100, 100);
    margin-bottom: 30px;
    border: 1.5px solid rgba(255, 255, 255, 0.1); 
}

@media screen and (max-width: 576px) {
    .footer{
        max-width: 353px;
        height: 710px;
        padding: 0px 0px;
        margin: 0 auto;
    }
    .footer-container{
        flex-direction: column;
        margin-left: 20px;
    }
    .footer-column{
        max-width: 100%;
        width: 317px;
        height: 200px;
        margin: 0;
    }
    .column-text{
        margin-bottom: 35px;
    }
    .column-description{
        margin-bottom: 20px;
    }
    .footer-links{
        margin:0;
    }
    .hr{
        width: 310px;
        margin: 0 auto;
       
    }
    .copywright{
        margin-top: 25px;
    }
}